/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--color-accent);
  font-family: var(--font-family-main, "Arial");
  background-color: var(--background-color-main);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-text);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 696px;
  min-height: 327px;
  margin-inline: auto;
  margin-block: 100px;
  border: 2px solid var(--color-accent);
  font-family: var(--font-family-accent);
  background-color: var(--background-color-main);
}

.header__title {
  margin-block-start: 120px;
  margin-block-end: 20px;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  margin-block-end: 24px;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu {
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  background: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -12px;
  animation: menu-arrow-bounce 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled,
.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid var(--color-accent);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.card {
  max-width: 696px;
  margin-inline: auto;
  margin-block-end: 51px;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-text);
  /* border: 2px solid var(--color-accent); */
  background-color: var(--background-color-main);
}

.card__title {
  border: 2px solid var(--color-accent);
  padding: 4px 10px;
  font-family: var(--font-family-main);
  font-size: 18px;
  line-height: 21.78px;
  font-variation-settings: "wght" var(--font-weight-title);
  /* margin-block: 4px 3px;
  margin-inline: 10px; */
}

.card__image-container {
  position: relative;
  display: flex;
  border: 2px solid var(--color-accent);
}

.card__image {
  min-width: 100%;
  min-height: 375px;
  object-fit: cover;
}

.filter-1 {
  filter: hue-rotate(180deg);
}

.filter-2 {
  filter: blur(2px);
}

.filter-3 {
  filter: contrast(1.5);
}

.filter-4 {
  filter: brightness(0.5);
}

.filter-5 {
  filter: sepia(0.5);
}

.filter-6 {
  filter: contrast(1.5) brightness(0.5);
}

.filter-7 {
  filter: saturate(1.5) contrast(1.1) sepia(0.4);
}

.filter-8 {
  filter: brightness(0.7) saturate(1.7) grayscale(0.4);
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 13px;
  opacity: 0.5;
  color: var(--color-accent);
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-shadow: 1px 1px var(--text-shadow-color),
    -1px -1px var(--text-shadow-color), 1px -1px var(--text-shadow-color),
    -1px 1px var(--text-shadow-color);
  mix-blend-mode: hard-light;
}

@supports ((-webkit-text-stroke: 1px var(--text-shadow-color))) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-shadow-color);
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-accent);
}

.card__text {
  margin-inline: 25px;
  margin-block: 24px 27px;
  font-family: var(--font-family-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.card__subtext {
  margin-inline: 25px;
  margin-block-end: 25px;
  font-family: var(--font-family-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  align-self: flex-end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  align-self: flex-end;
  margin-inline-end: 4px;
  border: 2px solid transparent;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-accent);
}

.like-icon {
  color: var(--color-accent);
}

.card__like-button {
  position: relative;
  border: 2px solid var(--color-accent);
  padding: 6.5px 35px;
  background-color: var(--background-color-button);
  cursor: pointer;
}

.card__icon-button:focus,
.card__like-button:focus,
.footer__button:focus {
  outline: none;
}

.card__like-button,
.footer__button {
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus,
.footer__button:focus {
  box-shadow: 2px 2px 0 var(--color-accent);
}

.card__like-button::before,
.footer__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.card__like-button:hover::before,
.footer__button:hover::before {
  transform: scaleX(1);
}

.button__text {
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
}

.button__text,
.footer__image {
  position: relative;
  color: var(--color-button);
  mix-blend-mode: difference;
}

.footer__button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
  margin-block-end: 100px;
  border: 2px solid #000;
  padding: 16px 20px;
  background-color: var(--background-color-main);
  cursor: pointer;
}

.footer__dialog[open] {
  display: grid;
  grid-template-columns: 39px 198px;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--color-accent);
  padding: 32px 40px;
  color: var(--color-accent);
  background-color: var(--background-color-main);
}

.footer__dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.footer__dialog-text {
  margin-block-end: 7px;
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.footer__dialog-button {
  grid-column: 1 / -1;
  border: 2px solid var(--color-button);
  padding: 12px 0;
  background-color: #000;
  cursor: pointer;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-pop 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks-pop 0.3s ease-in 0.3s alternate;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--color-accent);
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--color-accent);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--color-fill);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--color-fill);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--color-fill);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--color-fill);
  transition: fill 0.3s 0.05s linear;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--color-fill);
  transition: fill 0.3s 0.06s linear;
}

@media (width >= 1440px) {
  .header__title {
    margin-block-start: 136px;
  }

  .card__title {
    padding: 4px 8px;
  }

  .card__image-container {
    min-width: 692px;
    min-height: 700px;
  }

  .card__image-label {
    top: 27px;
    right: 23px;
  }

  .card__text {
    margin-inline: 23px;
  }

  .card__buttons {
    margin-inline-end: 23px;
  }

  .footer__button {
    flex-direction: row;
    padding: 13px 18px;
  }

  .footer__dialog[open] {
    grid-template-columns: 39px 234px;
    padding: 30px;
  }

  .footer__dialog-text {
    margin-block-end: 10px;
  }

  .footer__dialog-button {
    padding: 11px 0;
  }
}
