/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family-main: 'Inter';
  --font-family-accent: 'PressStart2P';
  --font-weight-text: 400;
  --font-weight-title: 700;
  --background-color-main: #FFFFFF;
  --background-color-button: #FFFFFF;
  --color-accent: #000000;
  --color-button: #FFFFFF;
  --color-fill: #FF0000;
  --color-contour: #000000;
  --text-shadow-color: #FFFFFF;
  --background-image: 
    repeating-linear-gradient(to right, #d3d3d3 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7, #1a1a1a);
}